.form-page {
 background:#fff; padding:0;  border:1px solid #DADADA; border-top:0; }
 .form-padded { padding:10px 10px 0 10px;}
 .form-page .form-wrapper form { margin:0;}
.form-page .form-wrapper {  margin-bottom: 0px;}
  .form-page .form-wrapper .field-box {
    margin-bottom: 7px; margin-left: 0; float: left; width: 100%; border-bottom:1px solid #E1E1E1; padding-bottom:7px; }
	.form-page .form-wrapper .noborder { border-bottom:0;}
  .form-page .form-wrapper label {
    display: inline-block;  font-weight: 600; cursor: auto; font-size: 12px; width: 140px; text-align: left; margin-right:5px;}
	.form-page .form-wrapper label.checkbox, .form-page .form-wrapper label.radio { width:auto; margin-right:10px;}
  .form-page .form-wrapper input:-moz-placeholder { font-style: italic; }
  .form-page .form-wrapper input:-ms-input-placeholder {font-style: italic; }
  .form-page .form-wrapper input::-webkit-input-placeholder {font-style: italic; }
  .form-page .form-wrapper .predefined {position: relative; }
    .form-page .form-wrapper .predefined input { padding-left: 45px; }
    .form-page .form-wrapper .predefined .value { position: absolute; top:6px; padding-left:5px;}
  .form-page .form-wrapper label.checkbox { cursor: pointer; color: #555; }
  .form-page .form-wrapper label.radio {
    position: relative; cursor: pointer; color: #555; }
  .form-page .form-wrapper label.checkbox,
  .form-page .form-wrapper label.radio { padding-left: 0px; font-weight: lighter; }
    .form-page .form-wrapper label.checkbox input[type="checkbox"],
    .form-page .form-wrapper label.checkbox input[type="radio"],
    .form-page .form-wrapper label.radio input[type="checkbox"],
    .form-page .form-wrapper label.radio input[type="radio"] { font-size: large; margin-left: 0px; }
  .form-page .form-wrapper .wysi-column { float: left; width: 75%; }
  .form-page .form-wrapper .column.pull-right label { display: block; width: 100%; }
  .form-page .form-wrapper .column.pull-right .ui-select { width: 250px; }
  .form-page .form-wrapper .select2-container {  margin-left: 0px; }

/* Custom Select */

.ui-select {
	width: 190px;
	margin-left: 0px !important;
	vertical-align: middle;
	min-width: 100px;
	height: 28px;
	min-height: 28px !important;
	position: relative;
	overflow: hidden;
	background: #ffffff;
	background: url("../../Asset/select-bg.png"), -moz-linear-gradient(top,  #ffffff 0%, #f0f1f2 100%);
	background: url("../../Asset/select-bg.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f1f2));
	background: url("../../Asset/select-bg.png"), -webkit-linear-gradient(top,  #ffffff 0%,#f0f1f2 100%);
	background: url("../../Asset/select-bg.png"), -o-linear-gradient(top,  #ffffff 0%,#f0f1f2 100%);
	background: url("../../Asset/select-bg.png"), -ms-linear-gradient(top,  #ffffff 0%,#f0f1f2 100%);
	background: url("../../Asset/select-bg.png"), linear-gradient(to bottom,  #ffffff 0%,#f0f1f2 100%);
	display: inline-block;
	border: 1px solid #cfdde8;
	border-radius: 5px;

   	background-position: 96%;
   	background-repeat: no-repeat;
}
.ui-select select {	
	line-height: inherit;
	width: 135%;
	font-family: "Open Sans", Arial;
	font-size: 12px;
	border: none;
	color: #737f8d;
	text-shadow: 1px 1px 1px #fff;
	background: transparent; padding-top:5px; height: 23px;
}
.ui-select select:focus {outline:0}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{ margin-bottom:0;}
/*Responsive*/
@media (max-width: 767px) {
  .form-page .form-wrapper label.radio {
    left: 0px; } }